<%= content_for :addscript do %>
  <%= javascript_import_module_tag "custom-scripts/tooltip" %>
<% end %>
<div class="container my-2">
  <div class="d-flex align-items-middle justify-content-between mb-4">
    <div>
      <h1 class="font-bold"><%= @profile.username %></h1>
      <%= "email: "+@profile.email %>
    </div>
    <div class="text-end">
      <% if current_user.username == @profile.username %>
        <%= link_to "Edit profile", edit_user_registration_path, class: "btn btn-outline-primary mb-2" %><br>
        <%= link_to "Create new event", new_event_path, class: "btn btn-primary ms-auto mb-2" %>
      <% end %>
    </div>
  </div>
  <div class="d-flex align-items-start">
    <div class="nav flex-column nav-pills me-3 text-nowrap" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active" id="v-pills-events-hosted-tab" data-bs-toggle="pill" data-bs-target="#v-pills-events-hosted" type="button" role="tab" aria-controls="v-pills-events-hosted" aria-selected="true">Events Hosted</button>
      <button class="nav-link" id="v-pills-events-invited-tab" data-bs-toggle="pill" data-bs-target="#v-pills-events-invited" type="button" role="tab" aria-controls="v-pills-events-invited" aria-selected="false">Events Invited</button>
    </div>
    <div class="tab-content bg-light bg-gradient p-3 w-100" id="v-pills-tabContent">
      <%= render partial: "profiles/event_view", :locals => {:profile => @profile, :tab_name => "events-hosted" } %>
      <%= render partial: "profiles/event_view", :locals => {:profile => @profile, :tab_name => "events-invited" } %>
    </div>
  </div>
</div>
